{% extends "single.html" %}

{# https://developer.paypal.com/demo/checkout/#/pattern/server #}

{% block main %}
    <h1>Payment via Paypal</h1>
    <div id="paypal-button-container"></div>
    <p>Payment id: {{ payment.code }} 
        <a href="{% url 'payment_status' payment.code %}">status</a>
    </p>

    <p>Payment id: {{ payment.code }} 
        <a href="{{ redirect_url }}">PAY NOW</a>
    </p>
{% endblock %}


{% block js %}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                production: '{{ client_id }}'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {

                // Make a call to the REST api to create the payment    
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '{{ payment.amount }}', currency: '{{ payment.currency }}' }
                            }
                        ]
                    }
                });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    window.alert('Thank You! We received your payment');
                });
            }

        }, '#paypal-button-container');

    </script>
{% endblock %}